head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://www.facebook.com/nguyen.le.hoang.chuong")

body

    header Header

    block main 

    footer Footer

    script(src="https://www.facebook.com/nguyen.le.hoang.chuong")
    script(src="https://www.facebook.com/nguyen.le.hoang.chuong")

    script(src="/js/script.js")